@import "mixins"
@import "variables"
@import "bourbon/bourbon"
@import "neat/neat"
@import "normalize"
@import "fonts"

/* General Styles */
$bp5: 500px
$bp6: 600px
$bp7: 700px
$bp8: 800px
$bp9: 900px
$bp10: 1000px


body
	font-size: 14px
	@media(min-width: $bp6)
		font-size: 16px
	@media(min-width: $bp8)
		font-size: 18px	
p, a
	font-family: $lato
p
	color: white
a
	color: $goldenrod
	text-decoration: none
.container
	margin-top: 50px
.playBlock
	p,a 
		line-height: 1.2em
		margin: .5em 0
	position: relative
	width: 100%
	height: calc(100vh - 50px)
	+striped-background(45deg, .3em, black, $offblack)
.headlineBlock
	position: relative
	h2
		position: absolute
		margin: .75em .5em
		font-size: 1.5em
		text-transform: uppercase
		font-family: $montserrat
		color: white
	.stripes
		width: 100%
		height: 2em
		&--lightPurple
			+striped-background(45deg, .3em, $ravensBlurple1, $ravensBlurple2)
			top: 0
		&--darkPurple
			+striped-background(45deg, .3em, $ravensPurple1, $ravensPurple2)
			bottom: 0
	@media(min-width: $bp8)
		h2
			margin: .6em .5em
			font-size: 2.5em
		.stripes
			height: 3em
.textBlock
	width: 100%
	float: left
	padding: .5em
	@media(min-width: $bp6)
		padding: 1em
	@media(min-width: $bp8)
		width: 65%		
.expandableText
	position: relative
	width: 100%
	height: 7em
	line-height: 1em
	text-overflow: ellipsis
	white-space: initial
	overflow: hidden
	&.expanded
		height: auto
		.fade
			display: none
	@media(min-width: $bp8)
		height: auto
.fade
	position: absolute
	width: 100%
	height: 3em
	+linear-gradient(rgba(255,255,255,0), black)
	bottom: 0
	@media(min-width: $bp8)
		display: none
.expandButton
	text-transform: uppercase
	text-align: center
	color: $darkgray	
	@media(min-width: $bp8)
		display: none
.imageBlock
	width: 100%
	text-align: center
	@media(min-width: $bp8)
		width: 30%
		float: right
	.landscape
		display: block
		width: 90%
		margin: 0 auto
		@media(min-width: $bp8)
			display: none
	.cutout
		display: none
		@media(min-width: $bp8)
			display: block
			width: 100%
	a

.button.button--down
	position: absolute
	width: 100%
	padding-bottom: .5em
	text-align: center
	color: white
	bottom: 0
	i.icon-angle-circled-down
		font-size: 3em

/* Tophat */
#tophat
	height: 40px
	background-color: $tophat-bg
	overflow: hidden
#logo
	width: 250px
	height: 100%
	float: left
	line-height: 43px
	vertical-align: middle
	img
		margin: 0 10px
		width: 90%
	@media (max-width: 400px)
		width: 200px
.tophat-share-tools
	float: right
	height: 100%
	line-height: 35px
	font-size: 24px
	vertical-align: middle
	color: $tophat-social
	margin: 0 10px
	text-align: center
	span
		cursor: pointer
		vertical-align: middle
		margin-right: 8px
		&:hover
			color: $tophat-social--hover
	@media (max-width: 760px)
		font-size: 18px
		line-height: 40px
/* Leaderboard */
#leaderboard
	width: 728px 
	height: 90px
	background-color: #222222
	margin: 10px auto
	text-align: center
	@media (max-width: 730px)
		display: none
